{% extends "account/base.html" %}
{% comment %} {% load bootstrap4 %} {% endcomment %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-sm-12">
    <h1>{% trans "Sign Up" %}</h1>

    <p>{% trans "Already have an account? Then please" %} <a href="{% url 'user_login_view' %}">{% trans "sign in" %}</a>.</p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 col-sm-12">
    <form class="signup" id="signup_form" method="post" action="{% url 'signup_view' %}">
      {% csrf_token %}
      
      <!-- Username Field -->
      <div class="form-group">
        <label for="{{ form.username.id_for_label }}">{{ form.username.label_tag }}</label>
        <input type="text" name="{{ form.username.name }}" class="form-control" id="{{ form.username.id_for_label }}" required>
      </div>
      
      <!-- Email Field -->
      <div class="form-group">
        <label for="{{ form.email.id_for_label }}">{{ form.email.label_tag }}</label>
        <input type="email" name="{{ form.email.name }}" class="form-control" id="{{ form.email.id_for_label }}" required>
      </div>
      
      <!-- Password Field -->
      <div class="form-group">
        <label for="{{ form.password1.id_for_label }}">{{ form.password1.label_tag }}</label>
        <input type="password" name="{{ form.password1.name }}" class="form-control" id="{{ form.password1.id_for_label }}" required>
      </div>
      
      <!-- Password Confirmation Field -->
      <div class="form-group">
        <label for="{{ form.password2.id_for_label }}">{{ form.password2.label_tag }}</label>
        <input type="password" name="{{ form.password2.name }}" class="form-control" id="{{ form.password2.id_for_label }}" required>
      </div>
      
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      
      <div class="d-grid gap-2">
        <button class="mt-3 btn btn-dark btn-block" type="submit"> {% trans "Sign Up" %} &raquo;</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
